<div ng-controller="MyPageController as mp">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of Fans Following</h5>
                    <p class="card-text">Shows the list of fans that you are following.</p>
                    <a href="#!listOfFansYouFollow" class="btn btn-primary">Show</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of Critics Following</h5>
                    <p class="card-text">Shows the list of critics that you are following.</p>
                    <a href="#!listOfCriticsYouFollow" class="btn btn-primary">Show</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of Actors Following</h5>
                    <p class="card-text">Shows the list of actors that you are following.</p>
                    <a href="#!listOfActorsYouFollow" class="btn btn-primary">Show</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of Liked Movie</h5>
                    <p class="card-text">Shows the list of movies you liked.</p>
                    <a href="#!listOfMoviesYouLiked" class="btn btn-primary">Show</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of Disliked Movie</h5>
                    <p class="card-text">Shows the list of movies you disliked.</p>
                    <a href="#!listOfMoviesYouDisliked" class="btn btn-primary">Show</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of Fans who Follow you</h5>
                    <p class="card-text">Shows the list of fans who follow you.</p>
                    <a href="#!listOfFansWhoFollowYou" class="btn btn-primary">Show</a>
                </div>
            </div>
        </div>
    </div>
</div>